@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #fdfdfd;
  --bg3-color: #e2e2e4;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --bg2-color: #39acff;
}

*::selection {
  background: var(--main-color);
  color: var(--bg-color);
}

.dark-mode {
  --bg-color: #0b061f;
  --text-color: #948787;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
  background-color: var(--bg2-color);
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.logo {
  font-size: 7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: auto;
  margin-left: 20rem;
  font-family: "Times New Roman", Times, serif;
}
.navbar {
  position: absolute;
  display: flex;
  align-items: center;
}
.navbar a {
  position: relative;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 3rem;
}

.navbar a:hover {
  color: var(--white-color);
  transition: all 0.2s;
}

.header.sticky .navbar a {
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--main-color);
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
}

.header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}

.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}
.mainimg {
  margin-top: 20px;
}

img {
  width: 80rem;
  height: 100%;
  border-radius: 15px;
}
img:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.content {
  margin-top: 15px;
}

.btn {
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}
.btn:hover {
  color: var(--main-color);
  transition: 0.5s;
}

.content h1 {
  margin-bottom: 15px;
  font-size: 4rem;
}

.sevices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.sevices h1 {
  font-size: 4rem;
  margin-bottom: 15px;
}

.service {
  width: 30rem;
  height: 38rem;
  margin: 15px;
  border-radius: 15px;
  border: 3px solid var(--bg2-color);
  box-shadow: 0 0.5rem 1rem var(--shadow-color);
  cursor: pointer;
}
.service:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.content-service {
  width: 29.5rem;
  height: 14.8rem;
  background-color: var(--bg2-color);
  padding-bottom: 60px;
  border-radius: 15px;
  padding-top: 15px;
}

.service img {
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0 0;
  object-fit: contain;
}
.service h3 {
  margin: 0 8px;
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}
.service p {
  margin: 0 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

/* certification*/

.IFP-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  background-color: var(--bg3-color);
}

.IFP-container h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  margin-top: 10rem;
}

.IFP-certification {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 80px;
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: var(--shadow-color) 0px 0px 10px 0px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;

  cursor: pointer;
}
.card:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #1652a0 0%, #8d3ff4 100%);
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portadacyberseal {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://uploads-ssl.webflow.com/61940465006a125a22cc90c1/62a9c00bcc38041a3748849f_Cyberseal-2022.png");
  background-position: bottom center;
  background-size: cover;
}
.portada-igel-z {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: img("/images/igel-z.png");
  background-position: bottom center;
  background-size: cover;
}

/* footer */

.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  border: none;
  border-radius: 15px;
  margin-left: 20px;
  padding: 10px 20px;
  background: none;
  font-size: 24px;
  color: #4a60c3;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: #874caf;
    transform: rotate(22deg);
  }
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.container {
  margin: 15px;
}

.col-md-6 {
  margin: 45px;
}
li a {
  font-size: 15px;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
